{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-5" style="margin-top: 10%; margin-bottom: 10%;">
        <div class="my-3 p-3 bg-body rounded shadow-lg">
            <h4 class="border-bottom pb-2 mb-0">Mailing: "{{ mailing.message.subject }}"
                <svg class="w-[32px] h-[32px] text-gray-800 dark:text-white" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 2 24 24">
                    <path d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                          clip-rule="evenodd"/>
                </svg>
            </h4>
            <div class="d-lg-flex text-body-secondary justify-content-center pt-3">
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item"><strong>Subject:</strong> {{ mailing.message.subject }}</li>
                    <li class="list-group-item"><strong>Body:</strong> {{ mailing.message.body }}</li>
                    <li class="list-group-item"><strong>Start Time:</strong> {{ mailing.start_time }}</li>
                    <li class="list-group-item"><strong>Periodicity:</strong> {{ mailing.get_periodicity_display }}</li>
                    <li class="list-group-item"><strong>Status:</strong> {{ mailing.get_status_display }}</li>
                    <li class="list-group-item">
                        <strong>Clients:</strong>
                        <ul>
                            {% for client in mailing.clients.all %}
                                <li>{{ client.name }} - {{ client.email }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="mt-3 justify-content-between">
                <a href="{% url 'mailing-update' mailing.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'mailing-delete' mailing.pk %}" class="btn btn-danger">Delete</a>

                <a href="{% url 'creator-page' %}" class="btn btn-outline-secondary">
                    <svg class="w-[32px] h-[32px] text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 2 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m15 19-7-7 7-7"/>
                    </svg>
                    Back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
